In [1]:
import pandas as pd
import numpy as np

c:\Users\Khushi\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [12]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score,train_test_split
from sklearn.preprocessing import Binarizer
from sklearn.compose import ColumnTransformer

In [7]:
df = pd.read_csv('titanic.csv',usecols=['Age','Fare','SibSp','Parch','Survived'])
df.dropna(inplace=True)
df['family'] = df['SibSp']+df['Parch']
df.drop(columns=['SibSp','Parch'],inplace=True)
X = df.drop(columns=['Survived'])
Y = df['Survived']

In [8]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [10]:
x_train.sample(5)

      Age     Fare  family
890  32.0   7.7500       0
272  41.0  19.5000       1
677  18.0   9.8417       0
591  52.0  78.2667       1
512  36.0  26.2875       0

In [9]:
cross_val_score(DecisionTreeClassifier(),x_train,y_train,cv=10,scoring='accuracy').mean()

0.6603145795523291

In [13]:
trf = ColumnTransformer([
    ('bin',Binarizer(copy=False),['family'])
],remainder='passthrough')

In [15]:
x_train_trf = trf.fit_transform(x_train)
x_test_trf = trf.fit_transform(x_test)

pd.DataFrame(x_train_trf,columns=x_train.columns)

     Age  Fare    family
0    1.0  31.0   20.5250
1    1.0  26.0   14.4542
2    1.0  30.0   16.1000
3    0.0  33.0    7.7750
4    0.0  25.0   13.0000
..   ...   ...       ...
566  1.0  46.0   61.1750
567  0.0  25.0   13.0000
568  0.0  41.0  134.5000
569  1.0  33.0   20.5250
570  0.0  33.0    7.8958

[571 rows x 3 columns]

In [16]:
cross_val_score(DecisionTreeClassifier(),x_train_trf,y_train,cv=10,scoring='accuracy').mean()

0.6480338777979433